body {
  color: white;
  animation: anime 10s ease infinite;
  background: linear-gradient(45deg, #7600B7, #9400D3, #A624E4);
  background-size: 300% 300%;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}